.navbar-brand img {
  height: 100px;
}

#fees i:before {
  font-size: 20px;
  margin-right: 10px;
}

.mobileDashedLine {
  display: none;
}

@media only screen and (max-width: 376px) {
  .navbar-brand img {
    height: 60px;
  }

  .mobileDashedLine {
    display: block;
  }

  .mobileStraightLine {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .mobileDashedLine {
    display: block;
  }

  .mobileStraightLine {
    display: none;
  }
}

.google-form-wrap {
  display: flex;
  justify-content: center;
}

.calendar img {
  height: 90%;
  width: 100%;
}

.iFont {
  font-size: 20px;
  margin-left: 5px;
}

.divvy {
  background-color: blue;
}
